@media (max-width: 1230px){
    .tarjeta{
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width: 1160px){
    #lateral h3{
        font-size: 25px;
    }
}

@media (max-width: 1110px){
    #Tarjetas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media (max-width: 998px){
    #lateral .cajaNoticias h3{
        height: 90px;
    }
}

@media (max-width: 850px){
    #header{
        height: 140px;
    }

    .headerDiv{
        grid-template-columns: 1fr;
    }

    .headerDiv #logo{
        margin: 10px auto;
        
    }

    .headerDiv #menu{
        border-top: 1px solid grey;
        margin: 10px auto;
    }

    .contenido{
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "titulo"
        "aside"
        "contenido";
    }

    #lateral .cajaNoticias{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "noticia noticia noticia"
        "texto texto texto"
        "parrafo parrafo parrafo";
    }
    #lateral .cajaNoticias h3{
        grid-area: noticia;
        height: 45px;
    }
    #lateral .cajaNoticias p{
        grid-area: texto;
    }
    #lateral .cajaNoticias h4{
        grid-area: parrafo;
    }
    #lateral .cajaNoticias img{
        margin: 10px auto;
    }
    #lateral .cajaNoticias a{
        font-size: 25px;
    }

    #lateral .cajaFechas h4{
        margin-left: 40%;
    }
    #lateral .cajaFechas li{
        margin-left: 45%;
    }

    #lateral .cajaVideo{
        margin-bottom: 60px;
    }
    #lateral .cajaVideo iframe{
        width: auto;
        height: 100%;
    }

    .footerDiv{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px){
    .headerDiv #menu ul li a{
        font-size: 20px;
        padding-left: 0px;
    }
}

@media (max-width: 560px){
    #Tarjetas {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
    }
    .headerDiv #menu ul li {
        margin: 0px 10px 0px 10px;
    }

    #lateral .cajaNoticias a {
        font-size: 20px;
    }
}

@media (max-width: 400px){
    .headerDiv #menu ul li {
        margin: 0px 5px 0px 5px;
    }

    #lateral .cajaNoticias a {
        font-size: 20px;
    }
}