@font-face{
    font-family: "TrebuchetMS";
    src: url("../fonts/TrebuchetMS.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "BebasNeue";
    src: url("../fonts/BebasNeue.otf");
    font-weight: normal;
    font-style: normal;
}
/* https://www.fontsquirrel.com/fonts/web-symbols */
@font-face{
    font-family: "WebSymbolsRegular";
    src: url("./fonts/websymbols-regular-webfont.eot");
    src: url("./fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"),
        url("./fonts/websymbols-regular-webfont.woff") format("woff"),
        url("./fonts/websymbols-regular-webfont.ttf") format("truetype"),
        url("./fonts/websymbols-regular-webfont.svg#WebSymbolsRegular") format("svg");
    font-weight: normal;
    font-style: normal;    
}

/* Variables globales */
$fontTrebuchet: "TrebuchetMS";
$fontBebas: "BebasNeue";
$fontSymbols: "WebSymbolsRegular";
$colorPrincipal: #37bcf9;
$colorSecundario: #00538c;
$colorGrisOscuro: #555;
$colorGrisClaro: rgba(0,0,0,0.3);

@mixin sombraCajaLineal($size1, $size2, $size3, $shadow){
/*    box-shadow: 0px 1px 0px black, 1px 2px 0px black, 2px 3px 0px black, 3px 4px 0px black; */
    box-shadow: $size1 $size2 $size3 $shadow, $size1+1px $size2+1px $size3 $shadow, $size1+2px $size2+2px $size3 $shadow, $size1+3px $size2+3px $size3 $shadow;
}

*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("../img/pattern.png");
}

// Cabecera

#header{
    width: 100%;
    height: 70px;
    background-color: black;
    font-family: $fontBebas;
    color: white;
}

.headerDiv{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

#logo{
    width: 200px;
    height: 50px;
    background-color: $colorPrincipal;
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 8px;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

#logo h3{
    grid-column: 2;
    font-size: 40px;
    margin: auto;
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
}

#logo:hover h3{
    animation: desdeDerecha 500ms linear;
    -webkit-animation: desdeDerecha 500ms linear;
}

@keyframes desdeDerecha{
    from{
        transform: translateX(200%); /* desaparece al estar desplazado */
        -webkit-transform: translateX(200%);
        -moz-transform: translateX(200%);
        -ms-transform: translateX(200%);
        -o-transform: translateX(200%);
    }
    to{
        transform: translateX(0%);  /* vuelve */
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
    }
}

#logo:hover{
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    color: black;
    background-color: #ccc;
}

#logo .gear{
    grid-column: 1;
    margin-top: 5px;
    margin-left: 5px;
    height: 40px;
}

#logo:hover .gear{
    animation: desdeAbajo 1s linear;
    -webkit-animation: desdeAbajo 1s linear;
}
@keyframes desdeAbajo{
    /* efecto de desaparecer y volver */
    0%{
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    50%{
        transform: translateY(200%);
        -webkit-transform: translateY(200%);
        -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
    }
    100%{
        transform: translateY(0%);
        -webkit-transform: translateY(0%)    ;
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        -webkit-transform: translateY(0%);
    }
}

#menu{
    height: 70px;
    background: transparent;
    text-align: right;
}
#menu ul li{
    font-size: 24px;
    display: inline-block; /* puedo flotar con el float o bien mediante inline-block. Funcionaría igual */
    margin: 0px 20px 0px 20px;
    letter-spacing: 1px;
    line-height: 70px;
}
#menu ul li a{
    display:block;
    color: white;
    text-decoration: none;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
#menu ul li a:hover{
    color: $colorPrincipal;
    transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
}

//Banner

#info{
    width: 80%;
    margin: auto;
}

#banner{
    width: 95.5%;
    height: 100px;
    border: 10px solid white;
    overflow: hidden;
    box-shadow: 0px 0px 2px gray;
    background: url("../img/BannerBlog.jpg");
    background-position: -200px -200px;
    margin: 20px auto;
    animation: banner 20s linear;
    -webkit-animation: banner 20s linear;
    animation-iteration-count: infinite;
}
@keyframes banner{
    0%{
        background-position: 0px 0px;
    } 50%{
        background-position: -200px -200px;
    } 100%{
        background-position: 0px 0px;
    }
}

#banner h1{
    display: block;
    width: 95%;
    font-family: $fontBebas;
    color: white;
    font-size: 45px;
    letter-spacing: 2px;
    text-shadow: 2px 2px 1px black;
    margin: 27px auto;
    animation: muestraTexto 10s linear;
    -webkit-animation: muestraTexto 10s linear;
}
@keyframes muestraTexto{
    0%{
        transform: translateX(-600%) scale(3,3);
        -webkit-transform: translateX(-600%) scale(3,3);
        -moz-transform: translateX(-600%) scale(3,3);
        -ms-transform: translateX(-600%) scale(3,3);
        -o-transform: translateX(-600%) scale(3,3);
        opacity: 1;
    }50%{
        transform: translateX(600%) scale(3,3);
        -webkit-transform: translateX(600%) scale(3,3);
        -moz-transform: translateX(600%) scale(3,3);
        -ms-transform: translateX(600%) scale(3,3);
        -o-transform: translateX(600%) scale(3,3);
        opacity: 1;
    }75%{
        transform: translateX(-600%) scale(3,3);
        -webkit-transform: translateX(-600%) scale(3,3);
        -moz-transform: translateX(-600%) scale(3,3);
        -ms-transform: translateX(-600%) scale(3,3);
        -o-transform: translateX(-600%) scale(3,3);
        text-shadow: none;
        color: transparent;
        opacity: 0;
    }100%{
        transform: translateX(0%) scale(1,1);
        -webkit-transform: translateX(0%) scale(1,1);
        -moz-transform: translateX(0%) scale(1,1);
        -ms-transform: translateX(0%) scale(1,1);
        -o-transform: translateX(0%) scale(1,1);
        color:white;
        opacity: 1;
    }
}

// Tarjetas
#cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.card{
    width: 200px;
    height: 260px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 4px #ddd;
    overflow: hidden;
    margin: 22px;
    margin-top: 40px;
    cursor: pointer;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
.card:hover{
    background-color: black;
}

.card img{
    display: block;
    height: 100%;
    width: 100%;
    margin: 0px auto;
}
/* efecto */
.card:hover img{
    display: none;
}

.card .category{
    width: 100%;
    height: 50px;
    font-family: $fontTrebuchet;
    margin-top: 15px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: $colorPrincipal;
    transition: all 500ms;
}
/*efecto*/
.card:hover .category{
    color: $colorPrincipal;
    animation: muestraCategoria 1s linear;
    -webkit-animation: muestraCategoria 1s linear;
}
@keyframes muestraCategoria{
    from{
        transform: translateY(-300%)     ;
        -webkit-transform: translateY(-300%)     ;
        -moz-transform: translateY(-300%)     ;
        -ms-transform: translateY(-300%)     ;
        -o-transform: translateY(-300%)     ;
        color: black;
    } to{
        transform: traslateY(0%);
        -webkit-transform: traslateY(0%);
        -moz-transform: traslateY(0%);
        -ms-transform: traslateY(0%);
        -o-transform: traslateY(0%);
        color: $colorPrincipal;
    }
}

.card .description{
    font-family: $fontTrebuchet;
    text-align: center;
    color: $colorSecundario;
    font-size: 14px;
    margin-top: 15px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}
/* efecto */
.card:hover .description{
    color: white;
    animation: muestraDescripcion 1s linear;
    -webkit-animation: muestraDescripcion 1s linear;
}
@keyframes muestraDescripcion{
    from{
        transform: translateX(-300%)     ;
        -webkit-transform: translateX(-300%)     ;
        -moz-transform: translateX(-300%)     ;
        -ms-transform: translateX(-300%)     ;
        -o-transform: translateX(-300%)     ;
        color: black;
    } to{
        transform: traslateX(0%);
        -webkit-transform: traslateX(0%);
        -moz-transform: traslateX(0%);
        -ms-transform: traslateX(0%);
        -o-transform: traslateX(0%);
        color: white;
    }
}

// Contenido

.contenido{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "titulo titulo"
    "contenido aside";
}

.contenido h2{
    grid-area: titulo;
    display: block;
    width: 100%;
    height: 75px;
    line-height: 75px; /* centra el texto */
    text-align: center;
    font-family: $fontBebas;
    font-size: 40px;
    font-weight: normal;
    letter-spacing: 2px;
    background: url("../img/pxgray.png"), white;
    /* sombras múltiples para efecto 3d */
    @include sombraCajaLineal(0px, 1px, 0px, black);
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 15px;
}

/* Artículos */
.articulos{ 
    width: 100%;
    display: grid;
    grid-area: contenido;
}

.articulos article{
    width: 90%;
    height: auto;
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 10px;
    font-family: $fontTrebuchet;
    background: white;
    color: black;
    box-shadow: 1px 1px 2px #ddd;
}

.articulos article h4{
    display: block;
    font-size: 23px;
    margin: 3px;
    margin-bottom: 5px;
}
.articulos article h4 a{
    text-decoration: none;
    color: $colorSecundario;
}
.articulos article h4 a:hover{
    text-decoration: underline;
}

.infoArticulo{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.infoArticulo img{
    width: 100%;
}
.infoArticulo p{
    margin-left: 15px;
}

/* Barra lateral */
#lateral{
    display: grid;
    grid-area: aside;
    width: 90%;
    //min-height: 1070px;
    font-family: $fontTrebuchet;
    margin-left: 20px;
}
#lateral h3{
    display: block;
    width: auto;
    height: 45px;
    line-height: 49px;
    background: url("../img/pxgray.png"), white;
    @include sombraCajaLineal(0px, 1px, 0px, black);
    font-size: 30px;
    font-family: $fontBebas;
    font-weight: normal;
    letter-spacing: 2px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.cajaNoticias{
    margin-left: 10px;
    text-align: center;
    margin-top: 10px;
}
.cajaNoticias img{
    width: 50%;
    margin-top: 15px;
}

.cajaFechas{
    margin-left: 10px;
}
.cajaFechas h4{
    font-size: 16px;
    margin: 5px auto;
    margin-left: 10px;
    color: $colorSecundario;
}
.cajaFechas ul li{
    margin-left: 50px;
}

.cajaAudio audio{
    width: 100%;
}

// Footer

#footer{
    width: 100%;
    background-color: black;
    color: white;
}

.footerDiv{
    width: 90%;
    margin: auto;
    height: 70px; //Cambiar
}